# Server Configuration
PORT=3000
ADMIN_PASSWORD=admin123
SERVER_PUBLIC_URL=http://localhost:3000

# Safaricom Daraja M-Pesa API Configuration
MPESA_ENVIRONMENT=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_SHORTCODE=174379
MPESA_CALLBACK_URL=http://localhost:3000/api/mpesa/callback

# MikroTik RouterOS API Configuration
MIKROTIK_HOST=192.168.88.1
MIKROTIK_PORT=8728
MIKROTIK_USER=admin
MIKROTIK_PASSWORD=
MIKROTIK_HOTSPOT_SERVER=all
MIKROTIK_SIMULATION_MODE=true
